<!DOCTYPE html>
<html lang="en">
<head>
  <title>JS Chat</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/ico/chat.ico" type="image/x-icon">
</head>
<body>
<div class="login-wrapper">
  <h2 class="logo">Welcome to <span class="nowrap">JS chat <span class="logo-sign">👋</span></span></h2>
  <form class="login-form" action="/login" method="post">
    <label for="user">&gt; Enter your name:</label>
    <input id="user" name="user" type="text" value="" autofocus placeholder="" required>
    <div class="login-actions">
      <button type="submit" class="btn">Login</button>
    </div>
  </form>
</div>
</body>
</html>